<nav class="section nav">
    <!--Logo etc-->
    <div class="nav-logo">
        <a href="/">
            <img src="/static/img/kreim_cross.png" alt="" height="18" width="18" aria-label="Go to Home">    
            St. John the Beloved
        </a>
    </div>

    <input type="checkbox" name="menu" id="menu">
    <div class="navigation">

        {% if navigation.items %}

            <ul class="">
                {% for item in navigation.items %}
                    <li class="nav-item ">
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
    <label for="menu">
        <img src="/static/ui/dots-three.svg" alt="">
    </label>
</nav>
